.Box_Wrapper {
  width: 100%;
  height: 51px;
  padding: 12px 30px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.Icon_Image {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}